* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: 0.2s all;
}

body {
  background-color: var(--blackTheme-back-secondary2);
  /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.603), transparent), url("/background.png") !important; */

  color: var(--blackTheme-font);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

span {
  color: var(--accent-color);
}

:root {
  --blackTheme-font: white;
  --blackTheme-back: rgb(40 42 61);
  --blackTheme-back-secondary: rgb(67 69 92);
  --blackTheme-back-secondary2: rgb(46 48 71);
  --accent-color: #e18f23;
}

.error {
  color: rgb(255, 118, 118);
  font-weight: 300;
  text-align: center;
}
body.light-theme {
  --blackTheme-font: rgb(40, 42, 61);
  --blackTheme-back: rgba(240, 242, 245, 0.573);
  --blackTheme-back-secondary: rgba(255, 255, 255, 0.389);
  --blackTheme-back-secondary2: rgb(220, 222, 235);
  --accent-color: #d67f13;
}

body.light-theme img {
  filter: brightness(0.6);
}

body.light-theme img:hover {
  filter: brightness(0.7) !important;
}

body.light-theme .profileImage {
  filter: brightness(1);
}

body.light-theme .tasksAmount {
  filter: brightness(0.5);
}

body.light-theme .filterMode {
  color: rgb(49, 49, 68);
  border: 1px solid rgba(0, 0, 0, 0.326);
}

body.light-theme .linkToPage {
  filter: brightness(1) !important;
  color: rgba(0, 0, 0, 0.558);
}

body.light-theme input::placeholder {
  color: black !important;
}

body.light-theme input,
select {
  color: rgba(0, 0, 0, 0.278) !important;
}

body.light-theme .activeDone {
  border: 1px solid rgb(98, 219, 98);
  color: rgb(98, 219, 98);
}

body.light-theme .activeActive {
  border: 1px solid rgb(228, 192, 12);
  color: rgb(228, 192, 12);
}

body.light-theme .activeAll {
  border: 1px solid rgb(67, 146, 237);
  color: rgb(102, 167, 241);
}

body.light-theme .activeToday {
  border: 1px solid rgb(67, 146, 237);
  color: rgb(102, 167, 241);
}

body.light-theme .settings h3,
body.light-theme .settings h1 {
  color: rgba(0, 0, 0, 0.703);
}

body.light-theme .save {
  color: rgb(118, 229, 118);
}

body.light-theme .taskCard.done {
  /* filter: brightness(0.9); */
  background-color: rgba(198, 217, 210, 0.725) !important;
  color: rgb(171, 249, 218);
}

body.light-theme .weather-widget {
  color: rgb(0, 0, 0);
}

body.light-theme .viewSwitcher {
  background-color: white;
  filter: brightness(0.9);
}

body.light-theme table span {
  color: black;
}
body.light-theme .loginCard {
  background-color: rgb(201, 201, 214);
}
body.light-theme .loginCard input {
  background-color: rgb(197, 197, 208);
  color: black !important;
}

body.light-theme .loginCard input::placeholder {
  color: rgb(149, 149, 164) !important;
}

body.light-theme .loginPage h1 {
  color: rgb(197, 197, 208);
}

body.light-theme span {
  color: grey;
}

body.light-theme .sideBar {
  background-color: rgb(238, 237, 242);
}
